.metadata
.recommenders
RemoteSystemsTempFiles/

01-EstruturaDados-VETOR/bin
01-EstruturaDados-VETOR/.settings
01-EstruturaDados-VETOR/.classpath
01-EstruturaDados-VETOR/.project

02-PILHAS/bin
02-PILHAS/.settings
02-PILHAS/.classpath
02-PILHAS/.project

#bin
#.settings
#.classpath
#.project
